/* For LocationPin.jsx */
:root {
  --main-green: #6b8b55;
}

.title-background {
  background-color: var(--main-green);
  position: relative;
  top: -100px;
  left: -85vh;
  height: 300px;
  width: 208vh;
}

.maps {
  height: 80vh; 
  width: 50%;
  position: relative;
  top: 20vh;
  left: 40vw;
}

.maps-title {
  color: white;
  position: relative;
  text-align: center;
  top: 80px;
  left: 0vh;
}

.card {
  border-radius: 5px;
  position: relative;
  height: 89vh;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(to bottom,  #1c8d58 0%,#1c8d58 40%,#ffffff 40%,#ffffff 100%); /* hsl(152, 67%, 33%) */
  box-shadow: 3px 5px 10px black;
}

.info-title, .form-title {
  font-weight: 200;
  text-align: center;
}

.info-title {
  color: white;
}

.info-card {
  color: white;
}

.company-title {
  color: white;
  font-weight: 200;
  text-align: center;
  position: relative;
  top: 10px;
}

.company-info {
  display: block;
  position: relative; 
  top: 0px;
  text-align: center;
}

.address {
  position: relative;
  left: 15px;
}

.socials-info {
  text-align: center;
  position: relative;
  top: 30px;
}

.socials-info a {
  color: white;
}

.contact-card {
  position: relative; 
  top: 200px;
  z-index: 99;
}

.google-map {
  position: relative;
  top: -100vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 580px;
  color: var(--main-green);
}

.pin:hover {
  cursor: pointer;
}

.pin-icon {
  fill: black;
  font-size: 4rem !important;
}

.pin-text {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3em;
  color: var(--main-blue);
}

.email-form {
  text-align: center;
}