.submit-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: hsl(0, 0%, 96%)
}

.submit-nav {
  padding: 1em 1em;
  display: flex;
  gap: 2em;
}

.submit-nav a {
  text-decoration: none;
  color: black;
}

.application-sent {
  margin-top: 9rem;
  text-align: center;
}

.application-sent p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

@media all and (max-width: 1000px) {
  .submit-nav {
    justify-content: center;
  }
      
}