.product-page-container {
  background-image: linear-gradient(var(--main-green), hsl(0, 0%, 100%));
}

.product-page-content {
  margin-top: 150px;
  background: white;
  height: 100%;
  padding: 4em;
  padding-left: 4em;
  display: flex;
  gap: 30px;
}

.main-image img {
  width: 100%;
  object-fit: contain;
}

.product-page-info {
  padding-top: 1em;
  text-align: left;
}

.product-page-info hr {
  margin-top: 1em;
}

.product-page-info h3 {
  font-size: 30px;
  font-weight: 300;
  color: var(--main-green);
}

.product-page-info div {
  margin-top: 1em;
  font-size: 24px;
  font-weight: 300;
}

.product-page-info p {
  font-size: 20px;
  font-weight: 200;
  text-align: left;
  margin-top: 1em;
}

.quantity {
  font-variant-numeric: tabular-nums;
  padding-top: 0.5em;
}

.quantity span {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 20px;
  font-weight: 200;
}

.quantity button {
  cursor: pointer;
  padding: 0.6em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  background: rgb(239, 239, 239);
  border-radius: 1px;
  border: none;
  font-size: 24px;
}

.quantity button:active {
  transform: scale(0.98);
}

.add-to-cart {
  border: none;
  margin-top: 1em;
  padding: 20px 120px;
  font-size: 14px;
  font-weight: 400;
  background: var(--btn-green);
  color: white;
  cursor: pointer;
  transition: background 300ms;
}

.add-to-cart:hover {
  background: hsl(0, 0%, 93%);
  transition: background 300ms;
}

.add-to-cart:active {
  transform: scale(0.99);
}

.product-information {
  display: inline-block;
}

.product-information p {
  font-size: 18px;;
}
