/* Banner.jsx */
.banner {
  z-index: 0;
  position: absolute; top: 10px; left: 0px;
}
  
.slides img {
  position: absolute; left: 0px;
}

.sliderone img,
.slidertwo img, 
.sliderthree img {
  object-fit: cover;
  width: 100vw;
}
 
.sliderone {
  width: 100%;
  filter: brightness(0.7) contrast(1);
  position: absolute; top: -20px;
}
  
.slidertwo {
  width: 100%;
  filter: brightness(0.7) contrast(1.5);
  position: absolute; top: -20px;
}
  
.sliderthree {
  width: 100%;
  filter: brightness(0.7) contrast(1.5);
  position: absolute; top: -20px;
}
  
.slogan {
  color: hsl(51, 68%, 96%);
  font-size: 30px;
  z-index: 30;
  position: relative;
  margin-right: 100px;
}
  
.slogan-content {
  text-align: center;
  position: relative; 
  top: 150px; 
  left: -140px;
}

.slogan-content img {
  width: 28vw;
  position: relative;
  left: -30px;
}

.slogan-content h5 {
  font-size: 2.2vw;
  position: relative; 
  left: 50px;
}
  
.banner-logo {
  position: relative; 
  left: -10px;
}

.banner-socials {
  text-align: center;
  position: relative;
  top: 30px;
  left: -100px;
}

.insta-banner {
  color: hsl(49, 87%, 88%);
}
  
.origin {
  color: hsl(49, 87%, 88%);
  font-size: 60px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
/* For Links.jsx */
.delivery-section {
  position: absolute; left: 300px; top: 300px;
}
  
.slogan-title {
  text-align: center;
  color: hsl(0, 0%, 0%);
  position: relative; left: -245px; top: -70px;
  z-index: 1;
}
  
/* For Products.jsx */
.about-us-section {
  position: absolute; top: 900px; left: 470px;
  margin-right: 250px;
}
  
.about-us {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  position: relative; 
  top: -80px;
  left: -250px;
}
  
.desc {
  display: flex;
  position: relative; top: -100px;
}
  
.desc-section {
  position: relative; left: 800px;
  right: 0;
}
  
.images {
  gap: 20px;
  display: flex;
  position: relative;
  right: 14em;
  top: 10vh;
}

.image-one {
  transition: 500ms;
  border-radius: 10px;
  width: 100%;
  height: 20.9vw;
  filter: brightness(0.6);
  color: hsl(0, 0%, 0%, 20%);
  text-shadow: 
          -1px -1px 10px #ffffff,
           0px -1px 10px #ffffff,
           1px -1px 10px #ffffff,
          -1px  0px 10px #ffffff,
           1px  0px 10px #ffffff,
          -1px  1px 10px #ffffff,
           0px  1px 10px #ffffff,
           1px  1px 10px #ffffff;
}

.image-one img,
.image-two img,
.image-three img {
  border-radius: 10px;
  border: 5px solid hsl(0, 0%, 100%);
  width: 21vw;
  height: 21vw;
  box-shadow: 1px 1px 40px rgb(253, 253, 253);
  object-fit: cover;
}
  
.image-one:hover {
  transform: scale(1.05);
  filter: brightness(1);
  box-shadow: 3px 1px 10px rgb(168, 168, 168);
  transition: 500ms;
  color: hsl(0, 0%, 0%, 100%);
  text-shadow: 
          -1px -1px 10px #ffffff,
           0px -1px 10px #ffffff,
           1px -1px 10px #ffffff,
          -1px  0px 10px #ffffff,
           1px  0px 10px #ffffff,
          -1px  1px 10px #ffffff,
           0px  1px 10px #ffffff,
           1px  1px 10px #ffffff;
}
  
 .image-desc-two {
  position: absolute; top: 9vw; left: 5.5vw;
  font-size: 2vw;
  font-weight: bold;
  z-index: 1;
}

.image-desc-one {
  position: absolute; top: 9vw; left: 5.5vw;
  font-size: 2vw;
  font-weight: bold;
  z-index: 1;
}

.image-desc-three {
  position: absolute; 
  top: 130px;
  left: 115px;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}
  
.underline {
  text-decoration: none;
  transition: 500ms;
  color: hsla(0, 0%, 0%, 0.6);
}
  
.underline:hover {
  transition: 500ms;
  color: hsl(0, 0%, 0%, 100%);
}
  
.image-two {
  transition: 500ms;
  border-radius: 10px;
  height: 20.9vw;
  filter: brightness(0.8);
  cursor: pointer;
  text-shadow: 
          -1px -1px 10px #ffffff,
           0px -1px 10px #ffffff,
           1px -1px 10px #ffffff,
          -1px  0px 10px #ffffff,
           1px  0px 10px #ffffff,
          -1px  1px 10px #ffffff,
           0px  1px 10px #ffffff,
           1px  1px 10px #ffffff;
}
  
.image-two:hover {
  transform: scale(1.05);
  filter: brightness(1);
  box-shadow: 3px 1px 10px 0px;
  transition: 500ms;
  text-shadow: 
          -1px -1px 10px #ffffff,
           0px -1px 10px #ffffff,
           1px -1px 10px #ffffff,
          -1px  0px 10px #ffffff,
           1px  0px 10px #ffffff,
          -1px  1px 10px #ffffff,
           0px  1px 10px #ffffff,
           1px  1px 10px #ffffff;
  }

/* pop-up content */
  
.image-three {
  transition: 500ms;
  border-radius: 10px;
  height: 20.9vw;
  filter: brightness(0.8);
  text-shadow: 
          -1px -1px 10px #ffffff,
           0px -1px 10px #ffffff,
           1px -1px 10px #ffffff,
          -1px  0px 10px #ffffff,
           1px  0px 10px #ffffff,
          -1px  1px 10px #ffffff,
           0px  1px 10px #ffffff,
           1px  1px 10px #ffffff;
}
  
.image-three:hover {
  transform: scale(1.05);
  filter: brightness(1);
  box-shadow: 3px 1px 10px 0px;
  transition: 500ms;
  color: hsl(0, 0%, 0%, 100%);
  text-shadow: 
          -1px -1px 10px #ffffff,
           0px -1px 10px #ffffff,
           1px -1px 10px #ffffff,
          -1px  0px 10px #ffffff,
           1px  0px 10px #ffffff,
          -1px  1px 10px #ffffff,
           0px  1px 10px #ffffff,
           1px  1px 10px #ffffff;
}
  
/* link selectors */
.link {
  position: relative; 
  top: -900px; 
  left: 50px; 
}
  
.content-link {
  font-size: 28px;
  font-weight: 800;
  cursor: pointer;
}
  
.content-link a {
  position: relative;
}
  
.content-link a::after {
  content: '';
  background-color: rgb(200, 181, 103);
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: transform .3s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
}
  
.content-link a:hover::after {
  color: rgb(200, 181, 103);
  transform: scaleX(1);
  transform-origin: bottom left;
}
  
.learn-more {
  position: absolute; 
  top: 300px; 
  left: 570px;
}
  
.learn-more a {
  color: rgb(200, 181, 103);
  text-decoration: none;
  transition-duration: 300ms;
}
  
.learn-more a:hover {
  color: rgb(167, 153, 93);
  transition-duration: 500ms;
}
  
.view-menu {
  position: absolute; 
  top: 350px; 
  left: 570px;
}
  
.view-menu a {
  color: rgb(200, 181, 103);
  text-decoration: none;
  transition-duration: 300ms;
}
  
.view-menu a:hover {
  color: rgb(167, 153, 93);
  transition-duration: 500ms;
}
  
/* Products.jsx */
.product-one {
  background-color: aqua;
  width: 300px;
  height: 300px;
}
  
.logo-written {
  position: relative; left: -10px; top: 0px;
}
/* reviews.jsx */
  
.fp-section {
  background-color: white;
  height: 1000px;
  width: 100vw;
  position: absolute; top: 1200px; left: -470px;
  right: 0;
  z-index: 1;
}
/* For FeaturedProducts.jsx */
.product-grid {
  margin-left: 40em;
  box-sizing: border-box;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr; /* it means we have only one column */
  grid-auto-rows: auto 1fr; /* the first row height is auto and the second is all the height left */
  grid-gap: 550px 100px;
  position: relative;
  top: 30vh;
  left: -70vh;
  text-align: center;
}

.product-card {
  position: relative;
}

.product-card a {
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 20%, 40%);
  background-color: hsl(51, 68%, 96%);
  box-shadow: 1px 1px 15px  hsl(0, 0%, 48%);
  padding: 20px;
  padding-bottom: 50px;
  position: absolute;
  text-decoration: none;
  transition: 500ms;
}

.product-card a:hover {
  transition: 500ms;
  transform: scale(1.02);
  box-shadow: 1px 1px 40px  hsl(0, 0%, 48%);
}

.product-card img {
  border-radius: 8px;
  object-fit: cover;
}

.product-info h3 {
  color: black;
  padding: 10px;
}

.product-info p {
  text-align: left;
  color: black;
  position: relative;
  left: 0px;
  padding: 10px;
  font-weight: bold;
}

.product-info button {
  position: relative;
  top: 20px;
  left: -80px;
}

.add-to-cart {
  cursor: pointer;
  text-align: center;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  transition: 500ms;
}

.add-to-cart:hover {
  color: hsl(96, 24%, 44%);
  text-shadow: 3px 3px 10px hsl(96, 24%, 44%);
}
  
/* For MenuAd.jsx */
.menu-ad {
  position: absolute; 
  left: -470px; 
  top: 500px;
}
  
.menu-container {
  position: relative; top: 50px;
  margin-right: 200px;
}

.menu-ad img {
  width: 100vw;
}
  
.ad {
  filter: brightness(0.5);
  object-fit: cover;
}
  
.paragraph-one {
  margin: auto;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 2.2vw;
  font-weight: 200;
  text-align: center;
  position: relative; top: -600px; right: -100px;
  z-index: 1;
}

@media all and (min-width: 500px) and (max-width: 1500px){
  
}
  
@media all and (min-width: 1500px) and (max-width: 2000px) {

}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
}
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
}
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  animation:forwards;
  width: 100%;
  height: 100%;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  background-color: hsl(0, 0%, 0%, 30%);
}

.popup-content .delivery {
  animation:forwards;
  -webkit-animation: anvil 0.5s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.deliveroo {
  position: relative;
  left: 10px;
  background-color: white;
  border-radius: 30px;
  width: 200px;
  height: 200px;
  margin-left: -10px;
  margin-bottom: -20px;
  box-shadow: 1px 1px 10px white;
}

.deliveroo:active {
  transform: scale(0.98)
}

.deliveroo img {
  border-radius: 30px;
  position: absolute;
  top: 20px;
  justify-content: center;
  width: 100%;
  height: auto;
}

.uber-eats {
  border-radius: 30px;
  width: 27vh;
  height: 27vh;
  box-shadow: 10px 10px 20px black;
  position: relative;
  top: 5px;
}

.uber-eats img {
  position: relative;
  top: -5px;
  left: -5px;
}

.uber-eats:active {
  transform: scale(0.98)
}

.content {
  gap: 70px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 250px;
}

.close {
  text-align: right;
  position: relative; 
  top: -150px; 
  left: -60px;
}

.close-button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  text-shadow: 1px 1px 10px;
  font-size: 32px;
}

.close-button:active {
  width: 40px;
  position: relative;
  left: 10px;
  box-shadow: 1px 1px 10px;
  border: 1px solid white;
  border-radius: 10px;
}