/* For LocationPin.jsx */
.maps {
  background-color: var(--main-green);
  height: 40vh; 
  width: 100%;
  position: absolute;
}
  
.maps-title {
  font-weight: 200;
  color: white;
  position: relative;
  text-align: center;
  top: 3.5em;
  left: 0vh;
}
  
.card {
  border-radius: 5px;
  position: relative;
  height: 600px;
  width: 80%;
  padding: 10px;
  background-image: linear-gradient(to bottom,  #1c8d58 0%,#1c8d58 40%,#ffffff 40%,#ffffff 100%); /* hsl(152, 67%, 33%) */
  box-shadow: 3px 5px 10px black;
}
  
.info-title, .form-title {
  font-weight: 200;
  text-align: center;
}
  
.info-title {
  color: white;
}
  
.info-card {
  color: white;
}
  
.company-title {
  color: white;
  font-weight: 200;
  text-wrap: wrap;
  text-align: center;
  position: relative;
  top: 10px;
}
  
.company-info {
  display: block;
  position: relative; 
  text-align: center;
}
  
.card-address {
  text-align: center;
}
  
.socials-info {
  text-align: center;
  position: relative;
  top: 30px;
}
  
.socials-info a {
  color: white;
}
  
.contact-card {
  position: relative; 
  top: 200px;
  z-index: 99;
}
  
.google-map {
  height: 38rem;
  width: 80%;
  display: flex;
  position: relative;
  top: 12rem;
  left: 10vw;
  gap: 100px;
}
  
.pin {
  display: flex;
  align-items: center;
  width: 580px;
  color: var(--main-green);
  position: sticky;
}
  
.pin:hover {
  cursor: pointer;
}
  
.pin-icon {
  fill: black;
  font-size: 4rem !important;
}
  
.pin-text {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3em;
  color: var(--main-blue);
}
  
.email-form { 
  text-align: center;
  position: relative;
  top: -40px;
}

.form input, .form textarea {
  display: block;
  border: 2px solid rgb(179, 179, 179);
  border-radius: 5px;
  width: 50%;
  position: relative; 
  left: 8vw;
}

.form input {
  position: relative;
  top: -10px;
  height: 40px;
}

.form .name-box {
  position: relative;
  top: -20px;;
}

.form-display {
  display: none;
}

.send-btn {
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  border: none;
  padding: 10px;
  background: #1c8d58;
  color: white;
  margin-top: 1em;
  position: relative;
  left: 0em;
  transition: background 300ms;
}

.send-btn:disabled {
  transform: scale(1) !important;
  cursor:default;
  opacity: 0.5;
}

.send-btn:disabled:hover {
  background: #1c8d58;
}

.send-btn:hover {
  background: #23ad6c;
  transition: background 300ms;
}

.send-btn:active {
  transform: scale(0.98)
}

.sent-confirm {
  position: inherit;
  text-align: center;
  top: -3em;
  left: 0vw;
}

.sent-tick {
  color: #1c8d58;
  z-index: 2;
}

.message-sent {
  position: relative;
  font-size: 20px;
  letter-spacing: 10px;
  top: 20px;
}
  
@media all and (max-width: 1250px) {
  .email-form {
    position: relative;
    left: 7.5vw;
    width: 100%;
  }

  .form input, .form textarea {
    width: 60%;
    position: relative; 
    left: 8vw;
  }

  .card {
    position: relative;
    top: -10em;
    width: 100%;
  }

  .company-info {
    display: block;
    position: relative; 
    left: 1em;
    text-align: center;
  }

  .form {
    position: relative;
  }

  .google-map {
    position: relative;
    top: 20em;
    display: block;
  }

  .google-maps {
    position: relative;
  }

  .send-btn {
    position: relative;
    left: -7.5vw;
  }

  .message-sent {
    position: inherit;
    text-align: center;
    top: -19em;
    left: -7.5vw;
  }
}

@media all and (max-width: 1000px) {
  .email-form {
    position: relative;
  }
}

@media all and (max-width: 410px) {
  .card {
    position: relative;
    left: -1.3em;
    width: 90vw;
  }
}