.shop-header {
  text-align: center;
  padding-top: 3em;
  height: 250px;
  gap: 20px;
  position: relative;
  box-shadow: 1px 1px 10px 1px hsl(0, 0%, 73%);
}

.shop-header img {
  object-fit: contain;
}

.shop-header h1 {
  padding-top: 2em;
  font-size: 40px;
  font-weight: 200;
  color: white;
  letter-spacing: 2px;
}

.product-container {
  background: white;
  width: 100%;
  height: 100%;
}

.product-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-around;
  row-gap: 20px;
  padding: 1.5em;
  column-gap: 2%;
  margin-left: -0.6em;
}

.product-grid a {
  color: black;
  text-decoration: none;
}

.product-card {
  margin-top: 3em;
  position: relative;
  border: 2px solid hsl(0, 0%, 0%, 10%);
  background-image: linear-gradient(1turn, hsl(0, 0%, 100%, 20%), hsla(0, 0%, 74%, 20%), hsl(0, 0%, 100%, 20%));
  padding: 0.5rem;
  padding-bottom: 2em;
  border-radius: 10px;
  width: 20rem;
}

.product-card {
  transform: scale(1);
  transition: transform 300ms;
}

.product-card:hover {
  transform: scale(1.05);
  transition: transform 300ms;
}

.product-card img {
  object-fit: cover;
}

.product-card p {
  margin-top: 1em;
}

.product-card button {
  margin-top: 1em;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--main-black);
  font-weight: 400;
  font-size: 20px;
  transition: color 300ms;
  position: relative;
  left: 28%;
}

.product-card button:hover {
  color: var(--hover-beige);
  transition: color 300ms;
}

.product-card button:active {
  transform: scale(0.98);
}

